<%= form_for(@coloc) do |f| %>
  <% if @coloc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coloc.errors.count, "error") %> prohibited this coloc from being saved:</h2>

      <ul>
      <% @coloc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adress %><br>
    <%= f.text_field :adress %>
  </div>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :superficie %><i>(en mètres au carré)</i><br>
    <%= f.text_field :superficie %>
  </div>

  <div class="field">
    <%= f.label :nb_habitants %><br>
    <%= f.text_field :nb_habitants %>
  </div>

  <div class="field">
    <%= f.label :nb_chambres %><br>
    <%= f.text_field :nb_chambres %>
  </div>

  <div class="field">
    <%= f.label :loyer %><i>(en €)</i><br>
    <%= f.text_field :loyer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
