<p id="notice"><%= notice %></p>


<table class="profile">
  <tr>
    <td class="main">
	  <p>
	  <strong>Adress:</strong>
	   <%= @coloc.adress %>
		</p>
    
    

    </td>
    <td class="sidebar round">
    <p>
      <strong>Habitants:</strong>
      <% @users.each do |user| %>
        <% if user.coloc_id == @coloc.id %>
            <li><%= user.nom %> <%= user.prenom %></li>
          <% end %>
        <% end %>
        </p>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_coloc_path(@coloc) %> |
<%= link_to 'Back', colocs_path %>
