<header>
  <%= image_tag("Logo-carte-des-colloc.png", :alt => "Application exemple", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", pages_home_path %></li>
      <li><%= link_to "Aide", pages_help_path %></li>
      <li><%= link_to "liste des colocations", colocs_path %></li>
      <li><%= link_to "liste des colocataires", pages_list_users_path %></li>
      <li><%= link_to "Deconnexion", destroy_user_session_path, :method => "delete" %></li>
    </ul>
  </nav>
</header>